<h1>Решение задач</h1>

<h3><a asp-area="User" asp-controller="TasksSolving" asp-action="OlympSolving">Олимпиадные задачи (C++, Python, C#)</a></h3>
<h3><a asp-area="User" asp-controller="TasksSolving" asp-action="FrontendSolving">Front-end задачи (HTML, CSS, JS)</a></h3>