<h1>Олимпиадные задачи</h1>
@*@await Component.InvokeAsync("OlympCompiler")*@

<h2>Сложность алгоритмов</h2>

<h2>Алгоритмы поиска</h2>
<div>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Линейный поиск">Линейный поиск</a></h3>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Бинарный поиск">Бинарный поиск</a></h3>
</div>

<h2>Алгоритмы сортировки</h2>
<div>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Квадратичные сортировки">Квадратичные сортировки</a></h3>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Быстрые сортировки">Быстрые сортировки</a></h3>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Линейные сортировки">Линейные сортировки</a></h3>
</div>

<h2>Структуры данных</h2>
<div>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Массивы и списки">Массивы и списки</a></h3>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Стек и очередь">Стек и очередь</a></h3>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Хеш-таблицы">Хеш-таблицы</a></h3>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Связные списки">Связные списки</a></h3>
    <h3><a asp-area="User" asp-controller="OlympTasksSolving" asp-action="ShowTasksByType" asp-route-type="Деревья">Деревья</a></h3>
</div>

<h2>Алгоритмы на графах</h2>
<p>Скоро...</p>

<h2>Динамическое программирование</h2>
<p>Скоро...</p>