<h1>Олимпиадные задачи</h1>
@*@await Component.InvokeAsync("OlympCompiler")*@

<h2>Сложность алгоритмов</h2>

<h2>Алгоритмы поиска</h2>
<div>
    <h3><a>Линейный поиск</a></h3>
    <h3><a>Бинарный поиск</a></h3>
</div>

<h2>Алгоритмы сортировки</h2>
<div>
    <h3><a>Квадратичные сортировки</a></h3>
    <h3><a>Быстрые сортировки</a></h3>
    <h3><a>Линейные сортировки</a></h3>
</div>

<h2>Структуры данных</h2>
<div>
    <h3><a>Массивы и списки</a></h3>
    <h3><a>Стек и очередь</a></h3>
    <h3><a>Хеш-таблицы</a></h3>
    <h3><a>Связные списки</a></h3>
    <h3><a>Деревья</a></h3>
</div>

<h2>Алгоритмы на графах</h2>

<h2>Динамическое программирование</h2>