
<h1>Найдётся всё!</h1>

<br />

<a asp-area="User" asp-controller="Home" asp-action="FindUser">Найти пользователя</a>

<a asp-area="User" asp-controller="Home" asp-action="FindPublication">Найти публикацию</a>