@{
	ViewBag.Title = "Главная";
}

@*
@model UserModel

<h1>Главная</h1>
<div>
	@if (Model.FullName == null)
	{
		<a asp-area="User" asp-controller="Home" asp-action="Authorizate">Войти в профиль</a>
	}
	@if (Model.FullName != null)
	{
		<a asp-area="User" asp-controller="Home" asp-action="Index">@Model.FullName</a>
	}
	<a asp-area="User" asp-controller="Home" asp-action="Profile">Профиль</a>
	<a asp-area="User" asp-controller="Home" asp-action="Index">Лента</a>
	<a asp-area="User" asp-controller="Home" asp-action="Index">Задачи</a>
	<a asp-area="User" asp-controller="Home" asp-action="Index">Сообщество</a>
	<a asp-area="User" asp-controller="Home" asp-action="Index">ТОП-100 лидеров</a>
	@if (Model.FullName != null)
	{
		<a asp-area="User" asp-controller="Home" asp-action="LogoutUser">Выход</a>
	}
</div>
*@

<h1>Главная</h1>