@using CodeCareer.Areas.User.Services.Interfaces
@using CodeCareer.Areas.User.Services.Implementations.JsonServices

@inject IPublicationService PublicationService

@{
	var publications = PublicationService.GetPublicationModels();
	publications.Reverse();
}

<div>
	<h2>Лента публикаций</h2>

	@foreach (var publication in publications)
	{
		@await Component.InvokeAsync("Publication", new {publicationP = publication})
	}
</div>