@using CodeCareer.Areas.User.Services.Interfaces
@using CodeCareer.Areas.User.Services.Implementations.JsonServices

@inject IPublicationService PublicationService
@inject IUserService UserService

@model PublicationFeedViewModel

@{
	var currentUser = UserService.GetUserModels().FirstOrDefault(u => u.Email == Model.CurrentUserEmail);
	var publications = PublicationService.GetPublicationModels();
	publications.Reverse();
}

<div>
	<h2>Лента публикаций</h2>

	@foreach (var publication in publications)
	{
		@await Component.InvokeAsync("Publication", new { publicationP = publication })
		<br />

		@if (currentUser != null)
		{
			<form asp-area="Users" asp-controller="Home" asp-action="PublicationFeed" method="post">

			<input asp-for="PublicationUserEmail" value="@publication.User.Email" type="hidden" />

			
			<input type="hidden" asp-for="WantsToSubscribe" value="@(!currentUser.SubscriptionsEmails.Contains(publication.User.Email))" />

			@*Если у текущего пользователя нет в подписках создателя публикации, то значение кнопки - подписаться*@
			<button type="submit">@(!currentUser.SubscriptionsEmails.Contains(publication.User.Email) ? "Подписаться" : "Отписаться")</button>
		</form>
		}
	}
</div>