@using CodeCareer.Areas.User.Services.Interfaces
@using CodeCareer.Areas.User.Services.Implementations.JsonServices

@inject IPublicationService PublicationService

@model PublicationFeedViewModel

@{
	var publications = PublicationService.GetPublicationModels();
	publications.Reverse();
}

<div>
	<h2>Лента публикаций</h2>

	@foreach (var publication in publications)
	{

		@await Component.InvokeAsync("Publication", new { publicationP = publication })
		<br />

		<form asp-area="Users" asp-controller="Home" asp-action="PublicationFeed" method="post">
			<input asp-for="CurrentUser" value="@Model.CurrentUser" type="hidden" />
			<input asp-for="PublicationUser" value="@publication.User" type="hidden" />
			@*Если у текущего пользователя нет в подписках создателя публикации, то значение кнопки - подписаться*@
			<input type="hidden" asp-for="WantsToSubscribe" value="@(!Model.WantsToSubscribe)"/>
			<button type="submit">@(!Model.CurrentUser.SubscriptionsEmails.Contains(publication.User.Email)? "Подписаться" : "Отписаться")</button>
		</form>
	}
</div>