<p class="codepen" data-height="300" data-pen-title="Paper plane button" data-default-tab="html,result" data-slug-hash="NWGZzXx" data-user="aaroniker" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
	<span>
		See the Pen <a href="https://codepen.io/aaroniker/pen/NWGZzXx">
			Paper plane button
		</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">aaroniker</a>)
		on <a href="https://codepen.io">CodePen</a>.
	</span>
</p>
<script async src="https://public.codepenassets.com/embed/index.js"></script>