@model TaskModel

<div>
   <h1>@Model.Name</h1>
   <p>@Model.Content</p>
   <br />
   <h3>Входные данные:</h3>
   <p>@Model.InputContent</p>
   <br />
   <h3>Выходные данные:</h3>
   <p>@Model.OutputContent</p>
</div>